<div class="container projects">
	<h1>Some of the projects I've completed:</h1>
	<div class="col-sm-12 carousel" ng-model='carouselArray[$inxed]'>
	<i class="fa fa-chevron-left" ng-click="slifeLeft()"></i>
		<div ng-controller='projectController' ng-repeat='project in projects'>
			<ul>
				<li>
					<h1>{{project.title}}</h1>
					<h4>{{project.subtitle}}</h4>
					<a href="{{project.content.link.url}}">{{project.content.link.title}}</a>
					<div class="row">
						<div class="col-md-4 col-sm-10 col-sm-offset-1">
							<li ng-repeat='thing in project.content.features'>{{thing}}</li>
						</div>
						<div class="col-md-4 col-sm-10 col-sm-offset-1">
							<li ng-repeat="tech in project.content.technologies">{{tech}}</li>
						</div>
					</div>
					<div class='row'>
						<div ng-repeat='url in project.content.pictures' class='col-md-6 project_img'>
							<li><img ng-src="{{url}}"></li>
						</div>
					</div>
				</li>
			</ul>
		</div>			
		<i class="fa fa-chevron-right" ng-click='slideRight()'></i>
	</div>
</div>

<script src='js/jquery.1.11.js'></script>
<!-- <script src='js/underscore-min.js'></script> -->
<script src='js/car.js'></script>
<script src='js/lightbox.js'></script>
<!-- <link rel="stylesheet" type="text/css" href="styles/car_style.css"> -->