<div class="container resume" ng-keydown='keySearch($event)'>
  <div class="row">
  
    <div id="searchBox" class='hidden-xs'>
      <i class='fa fa-search' ng-click='toggleSearch()'></i>
      <span ng-show='searchVisible'>
        <input type="text" ng-model='searchText' placeholder='Search filter' autofocus /> 
      </span>
    </div>

    <div class="dl hidden-xs col-sm-1 col-sm-push-6">
      <a class="btn-main" 
          href='http://louisnk.com/files/kinley_resume.pdf'>
      <i class="fa fa-download"></i></a>
    </div>

    <div class="col-sm-10">

    <div ng-repeat='section in resume | filter: searchText'>
      <div class="row">
        <h1 draggable>{{section.title}}</h1>
      </div>
        <div class='col-sm-12' ng-if='section.columns'>
          <div class="col-sm-4 skills text-left" ng-repeat="line in section.columns">
            <h3>{{line.header}}</h3>
            <ul class='text-left'>
              <li ng-repeat='item in line.items | filter: searchText'>{{item | filter: searchText}}</li>
            </ul>
          </div>
        </div>
        <div ng-if='section.rows' class='detail-row text-left'>
          <div ng-repeat='job in section.rows | filter: searchText | orderBy: "dates" : true'>
            <h3 class='pull-right'>{{job.dates}}</h3>
            <h3>{{job.header}}</h3>
            <ul class='text-left'>
              <li ng-repeat='fact in job.facts | filter: searchText'>{{fact.line}}</li>
            </ul>
            <br />
          </div>
        </div>
      
      </div>
    </div>
  </div>
</div>
