body {
	font-family: Verdana, Arial, sans-serif;
}

.car {
	width: 90%;
}

.car_inner {
	float: left;
	overflow: hidden;
	border: 5px solid #000;
	background: rgba(20,20,20,0.2);
}

.car_inner:after {
	clear: both;
}
.car_ul {
	position: relative;
	left: -160px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 99999px;
}

.car_ul li {
	float: left;
	width: 160px;
	list-style-type: none;
	padding: 0 2px;
}

.car_ul li img { 
	margin: 5px 0;
	cursor: pointer;
	cursor: hand;
	border: 0;
	width: 150px;
	height: 100px;
}

.left, .right {
	float: left;
	height: 100px;
	cursor: pointer;
	cursor: hand;
	margin: 5px;
}


#overlay {
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.9);
	width: 100%;
	height: 100%;
	z-index: 998;
	display: none;
	overflow: hidden;
	margin: 0;
}

#lightbox {
	position: relative;
	z-index: 999;
	display: none;
	top: 0;
	
	margin: 0;
}


#light-main {
	display: block;
	margin: auto auto 0;
	height: 100%;
	width: 100%;
	
	text-align: center;
}

#light-main img {
	max-width: 70%;
	max-height: 80%;
	
}


#close-light {
	position: absolute;
	top: 2%;
	right: 20%;
	z-index: 999999;
	opacity: 0.3;
}

#close-light:hover {
	cursor: pointer;
	opacity: 1;
}

.next {
	position: absolute;
	top: 14%;
	right: 0;
	height: 100%;
	width: 45%;
	float: right;
}

.next:hover {
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC42NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-8 */

}

.next img {
	position: absolute;
	top: 35%;
	right: 25%;
	background: transparent;
	border: none;
}

.previous {
	position: absolute;
	top: 14%;
	left: 0;
	float: left;
	height: 100%;
	width: 45%;
}

.previous:hover {
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-8 */
}

.previous img {
	position: absolute;
	top: 35%;
	left: 25%;
	background: transparent;
	border: 0;
}

.previous img:hover,
.next img:hover {
	cursor: pointer;
}

.info {
	position: absolute;
	bottom: 23%;
	left: 25%;
	font-size: 0.7em;
	font-weight: 100;
	font-style: italic;
	text-align: left;
	background: rgba(0,0,0,0.7);
	padding: 2px 7px;
	color: #eee;
}

.loading {
	display: block;
	width: 55%;
	height: 75%;
	margin: 0 auto;
	background: url('img/loading.gif') no-repeat center center;
}
