@font-face {
	font-family: 'icomoon';
	src:url('../../fonts/icomoon.eot?-gobls6');
	src:url('../../fonts/icomoon.eot?#iefix-gobls6') format('embedded-opentype'),
		url('../../fonts/icomoon.woff?-gobls6') format('woff'),
		url('../../fonts/icomoon.ttf?-gobls6') format('truetype'),
		url('../../fonts/icomoon.svg?-gobls6#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-chevron-small-down:before {
	content: "\e60e";
}

.icon-chevron-small-left:before {
	content: "\e60f";
}

.icon-chevron-small-right:before {
	content: "\e610";
}

.icon-chevron-small-up:before {
	content: "\e611";
}

.icon-chevron-thin-down:before {
	content: "\e612";
}

.icon-chevron-thin-left:before {
	content: "\e613";
}

.icon-chevron-thin-right:before {
	content: "\e614";
}

.icon-chevron-thin-up:before {
	content: "\e615";
}

.icon-triangle-down:before {
	content: "\e616";
}

.icon-triangle-left:before {
	content: "\e617";
}

.icon-triangle-right:before {
	content: "\e618";
}

.icon-triangle-up:before {
	content: "\e619";
}

.icon-office:before {
	content: "\e903";
}

.icon-pencil:before {
	content: "\e905";
}

.icon-pencil2:before {
	content: "\e906";
}

.icon-image:before {
	content: "\e90d";
}

.icon-images:before {
	content: "\e90e";
}

.icon-camera:before {
	content: "\e90f";
}

.icon-play:before {
	content: "\e912";
}

.icon-video-camera:before {
	content: "\e914";
}

.icon-pacman:before {
	content: "\e916";
}

.icon-spades:before {
	content: "\e917";
}

.icon-clubs:before {
	content: "\e918";
}

.icon-diamonds:before {
	content: "\e919";
}

.icon-book:before {
	content: "\e91f";
}

.icon-books:before {
	content: "\e920";
}

.icon-library:before {
	content: "\e921";
}

.icon-profile:before {
	content: "\e923";
}

.icon-folder-download:before {
	content: "\e933";
}

.icon-folder-upload:before {
	content: "\e934";
}

.icon-phone-hang-up:before {
	content: "\e943";
}

.icon-location2:before {
	content: "\e948";
}

.icon-calendar:before {
	content: "\e953";
}

.icon-keyboard:before {
	content: "\e955";
}

.icon-display:before {
	content: "\e956";
}

.icon-laptop:before {
	content: "\e957";
}

.icon-mobile:before {
	content: "\e958";
}

.icon-download:before {
	content: "\e960";
}

.icon-upload:before {
	content: "\e961";
}

.icon-floppy-disk:before {
	content: "\e962";
}

.icon-undo2:before {
	content: "\e967";
}

.icon-redo2:before {
	content: "\e968";
}

.icon-forward:before {
	content: "\e969";
}

.icon-reply:before {
	content: "\e96a";
}

.icon-bubble:before {
	content: "\e96b";
}

.icon-bubbles:before {
	content: "\e96c";
}

.icon-bubble2:before {
	content: "\e96e";
}

.icon-bubbles3:before {
	content: "\e96f";
}

.icon-bubbles4:before {
	content: "\e970";
}

.icon-user:before {
	content: "\e971";
}

.icon-users:before {
	content: "\e972";
}

.icon-user-plus:before {
	content: "\e973";
}

.icon-user-minus:before {
	content: "\e974";
}

.icon-user-check:before {
	content: "\e975";
}

.icon-user-tie:before {
	content: "\e976";
}

.icon-quotes-left:before {
	content: "\e977";
}

.icon-quotes-right:before {
	content: "\e978";
}

.icon-spinner:before {
	content: "\e97a";
}

.icon-spinner2:before {
	content: "\e97b";
}

.icon-spinner3:before {
	content: "\e97c";
}

.icon-spinner5:before {
	content: "\e97e";
}

.icon-spinner8:before {
	content: "\e981";
}

.icon-spinner9:before {
	content: "\e982";
}

.icon-spinner11:before {
	content: "\e984";
}

.icon-binoculars:before {
	content: "\e985";
}

.icon-zoom-in:before {
	content: "\e987";
}

.icon-zoom-out:before {
	content: "\e988";
}

.icon-enlarge2:before {
	content: "\e98b";
}

.icon-shrink2:before {
	content: "\e98c";
}

.icon-lock:before {
	content: "\e98f";
}

.icon-unlocked:before {
	content: "\e990";
}

.icon-wrench:before {
	content: "\e991";
}

.icon-equalizer:before {
	content: "\e992";
}

.icon-equalizer2:before {
	content: "\e993";
}

.icon-cog:before {
	content: "\e994";
}

.icon-cogs:before {
	content: "\e995";
}

.icon-pie-chart:before {
	content: "\e99a";
}

.icon-stats-dots:before {
	content: "\e99b";
}

.icon-stats-bars:before {
	content: "\e99c";
}

.icon-stats-bars2:before {
	content: "\e99d";
}

.icon-trophy:before {
	content: "\e99e";
}

.icon-mug:before {
	content: "\e9a2";
}

.icon-spoon-knife:before {
	content: "\e9a3";
}

.icon-leaf:before {
	content: "\e9a4";
}

.icon-rocket:before {
	content: "\e9a5";
}

.icon-hammer2:before {
	content: "\e9a8";
}

.icon-fire:before {
	content: "\e9a9";
}

.icon-lab:before {
	content: "\e9aa";
}

.icon-magnet:before {
	content: "\e9ab";
}

.icon-airplane:before {
	content: "\e9af";
}

.icon-road:before {
	content: "\e9b1";
}

.icon-accessibility:before {
	content: "\e9b2";
}

.icon-switch:before {
	content: "\e9b6";
}

.icon-tree:before {
	content: "\e9bc";
}

.icon-menu:before {
	content: "\e9bd";
}

.icon-menu2:before {
	content: "\e9be";
}

.icon-menu3:before {
	content: "\e9bf";
}

.icon-menu4:before {
	content: "\e9c0";
}

.icon-sphere:before {
	content: "\e9c9";
}

.icon-earth:before {
	content: "\e9ca";
}

.icon-flag:before {
	content: "\e9cc";
}

.icon-eye:before {
	content: "\e9ce";
}

.icon-eye-blocked:before {
	content: "\e9d1";
}

.icon-heart:before {
	content: "\e9da";
}

.icon-man:before {
	content: "\e9dc";
}

.icon-woman:before {
	content: "\e9dd";
}

.icon-cross:before {
	content: "\ea0f";
}

.icon-checkmark:before {
	content: "\ea10";
}

.icon-checkmark2:before {
	content: "\ea11";
}

.icon-spell-check:before {
	content: "\ea12";
}

.icon-play2:before {
	content: "\ea15";
}

.icon-stop:before {
	content: "\ea17";
}

.icon-loop:before {
	content: "\ea2d";
}

.icon-loop2:before {
	content: "\ea2e";
}

.icon-infinite:before {
	content: "\ea2f";
}

.icon-shuffle:before {
	content: "\ea30";
}

.icon-omega:before {
	content: "\ea66";
}

.icon-sigma:before {
	content: "\ea67";
}

.icon-page-break:before {
	content: "\ea68";
}

.icon-superscript2:before {
	content: "\ea6b";
}

.icon-subscript2:before {
	content: "\ea6c";
}

.icon-embed:before {
	content: "\ea7f";
}

.icon-embed2:before {
	content: "\ea80";
}

.icon-terminal:before {
	content: "\ea81";
}

.icon-facebook:before {
	content: "\ea8c";
}

.icon-twitter:before {
	content: "\ea91";
}

.icon-feed2:before {
	content: "\ea94";
}

.icon-youtube3:before {
	content: "\ea99";
}

.icon-github2:before {
	content: "\eab2";
}

.icon-github5:before {
	content: "\eab5";
}

.icon-tux:before {
	content: "\eabe";
}

.icon-apple:before {
	content: "\eabf";
}

.icon-android:before {
	content: "\eac1";
}

.icon-windows8:before {
	content: "\eac3";
}

.icon-linkedin2:before {
	content: "\eac9";
}

.icon-file-pdf:before {
	content: "\eada";
}

.icon-file-word:before {
	content: "\eadc";
}

.icon-html52:before {
	content: "\eae0";
}

.icon-codepen:before {
	content: "\eae4";
}

.icon-chrome:before {
	content: "\eae5";
}

.icon-firefox:before {
	content: "\eae6";
}

.icon-IE:before {
	content: "\eae7";
}

.icon-heart2:before {
	content: "\e600";
}

.icon-cloud:before {
	content: "\e601";
}

.icon-star:before {
	content: "\e602";
}

.icon-tv:before {
	content: "\e603";
}

.icon-user2:before {
	content: "\e604";
}

.icon-camera2:before {
	content: "\e605";
}

.icon-bulb:before {
	content: "\e606";
}

.icon-pen:before {
	content: "\e607";
}

.icon-banknote:before {
	content: "\e608";
}

.icon-study:before {
	content: "\e609";
}

.icon-lab2:before {
	content: "\e60a";
}

.icon-food:before {
	content: "\e60b";
}

.icon-fire2:before {
	content: "\e60c";
}

.icon-world:before {
	content: "\e60d";
}

