@font-face {
  font-family: 'BodoniXT';
  src: url('/fonts/BodoniXT.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/BodoniXT.woff') format('woff'), 
       url('/fonts/BodoniXT.ttf')  format('truetype'), 
       url('/fonts/BodoniXT.svg#BodoniXT') format('svg');
  font-style: normal;
}

@font-face {
  font-family: 'FuturaT-Light';
  src: url('/fonts/FuturaT-Ligh.eot?#iefix') format('embedded-opentype'),  
       url('/fonts/FuturaT-Ligh.woff') format('woff'), 
       url('/fonts/FuturaT-Ligh.ttf')  format('truetype'), 
       url('/fonts/FuturaT-Ligh.svg#FuturaT-Ligh') format('svg');
  font-style: normal;
}

@font-face {
    font-family: 'Futura-Medium';
    src: url('/fonts/futura-medium-webfont.eot');
    src: url('/fonts/futura-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/futura-medium-webfont.woff2') format('woff2'),
         url('/fonts/futura-medium-webfont.woff') format('woff'),
         url('/fonts/futura-medium-webfont.ttf') format('truetype'),
         url('/fonts/futura-medium-webfont.svg#futuramedium') format('svg');
    font-weight: normal;
    font-style: normal;
}



/* Serif (title) fonts */

.fontSerif2-0 {
  font-family: 'BodoniXT';
  font-weight: 300;
  font-size: 2rem; 
}

.fontSerif4-0 {
  font-family: 'BodoniXT';
  font-weight: 300;
  font-size: 4rem;
}

.fontSerif6-0 {
  font-family: 'BodoniXT';
  font-weight: 300;
  font-size: 6rem; 
}


/* Sans-serif (copy) fonts */

.fontSansSerif1-5 {
  font-family: "FuturaT-Light";
  font-size: 1.5rem;
  font-weight: 400;
}

.fontSansSerif3-0 {
  font-family: "FuturaT-Light";
  font-size: 3rem;
  font-weight: 400;
}
.fontSansSerif4-0 {
  font-family: "FuturaT-Light";
  font-size: 4rem;
  font-weight: 400;
}
.fontSansSerif4-5 {
  font-family: "FuturaT-Light";
  font-size: 4.5rem;
  font-weight: 400;
}
.fontSansSerif6-0 {
  font-family: "FuturaT-Light";
  font-size: 6rem;
  font-weight: 400; 
}


/* Bold Sans-serifs */
.fontSansSerifBold1-0 {
  font-family: "Futura-Medium";
  font-size: 1rem;
  font-weight: 400;
}

.fontSansSerifBold2-0 {
  font-family: "Futura-Medium";
  font-size: 2rem;
  font-weight: 400;
}

.fontSansSerifBold3-0 {
  font-family: "Futura-Medium";
  font-size: 3rem;
  font-weight: 400;
}

.fontSansSerifBold6-0 {
  font-family: "Futura-Medium";
  font-size: 6rem;
  font-weight: 400;
}


.fontSansSerifBold15-0 {
  font-family: "Futura-Medium";
  font-size: 15rem;
  font-weight: 400;
}
