body {
  position: relative;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 10px;
  background-color: @colorWhite;
  color: @colorBlack;
  -webkit-font-smoothing: subpixel-antialiased;
  font-smooth: auto;
}

a {
  color: @colorBlack;
  text-decoration: none;

  &:hover, &:active, &:focus {
    color: @colorGray;
    text-decoration: none;
  }
}

.title {
  text-align: center;
  min-height: 25em;

  h1 {
    .fontSerif9-0;
  }
}

.subtitle {
  text-align: left;
  min-height: 15em;
  margin: 5em 0 25% 28.91%;
  h1,h3 {
    margin: -5px 0 0 0;
  }
  h1 {
    .fontRegular9-0;
  }
  h3 {
    .fontRegular4-5;
  }
  h4 {
    .fontRegular2-2-5;
    margin: 0.5em 0 0;
  }
}

ul, li {
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "BodoniXT";
}

.row {
  display: block;
  height: 100%;
  width: 98%;
  padding: 0 1%;

  &:after {
    clear: both;
  }

  .col-md-2,.col-md-3,.col-md-4,.col-md-5,
  .col-md-6,.col-md-7,.col-md-8,.col-md-9,
  .col-md-10,.col-md-11,.col-md-12 {
    display: block;
    float: left;
  }
  .col-md-2 {
    width: 16.66667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33333%;
  }
  .col-md-5 {
    width: 41.66667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33333%;
  }
  .col-md-8 {
    width: 66.66667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33333%;
  }
  .col-md-11 {
    width: 91.66667%;
  }
  .col-md-12 {
    width: 100%;
  }
}
