<div class="container" ng-controller="CodeController">
  <div data-hero-image></div>

  <div class="content code-content">
    <div class="row title">
      <div class="col-md-12">
        <h1>{{page.title}}</h1>         
      </div>
    </div>

    <div class="row frames">
      <ul>
        <li class="section" ng-repeat="project in page.sections">
          <div class="col-md-4 frame">
            <a href="javascript:void(0)" class="framed"
               name="{{project.images[0].alt}}" 
               ng-click="broadcast($event, STATE.PROJECT, project.id)">
               
              <img src="{{project.images[0].url}}" alt="{{project.images[0].alt}}">
              <h2 class="section-title">{{project.title}}</h2>
              <h3 class="section-subtitle">{{project.subtitle}}</h3>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>  
</div>