.code-content {
	canvas {
		display: block;
		width: 90%;
		height: 40%;
		min-height: 300px;
		margin: 0 auto;
		background-color: #acf;
	}

	.circle-graph {
		margin: 7% 0;
		h3 { margin: 0; }
	}

}