.hero-image {
  position: relative;
  top: 0;
  left: 0;
  z-index: -10;
  width: 110%;
  min-height: 450px;
  background-size: 100%;
  background-position: -100px 0px;
  box-shadow: 0em 0.5em 3.5em 0.5em @colorBlack;

  .triangle-down {
    display: none !important;
    position: absolute;
    bottom: -2.5em;
    left: 49%;
    border-style: solid;
    border-width: 2em 1.5em 0em 1.5em;
    border-color: @colorBlack transparent;
    cursor: pointer;
  }
}

@media only screen and (max-width: 992px) {
  .hero-image {
    position: fixed;
    top: -15%;
    left: 0;
    width: 125%;
    height: 115%;
    color: @colorWhite;
    background-size: 100%;
    box-shadow: none;

    .photo-loc {
      position: fixed;
      top: 0;
      right: 10%;
      .fontSansSerif3-0;
    }
  }
}

@media only screen and (min-width: 1400px) {
  .hero-image {
    min-height: 44em;
  }
}
@media only screen and (min-width: 1599px) {
  .hero-image {
    min-height: 55em;
  }
}
