.home-content {
  height: 100%;
  z-index: 1;
  li {
    display: block;
  }

  .frame {
    margin-bottom: 7em;  
  }

  .framed {
    border-width: 0.125em;
  }
}


@media only screen and (max-width: 992px) {
  .home-content {
    position: relative;
    z-index: 5;
    left: 15%;
    margin: 130% 0 0;
    color: @colorWhite;

    .mobile-title {
      .fontRegular9-0;
      margin-bottom: -0.5em;
    }
    .mobile-subtitle {
      margin: 0 8.7em;
    }

    
    h3 {
      .fontRegular3-0;
    }
    a {
      color: @colorWhite;
      margin-left: 4em;
      .fontRegular1-6;
      font-weight: 900;
    }
  }  
}

@media only screen and (min-width: 1599px) {
  .home-content {
    .title {
      margin-bottom: 10em;
    }

    .frame {
      margin-bottom: 17.5em;
    }
  }  
}
