.home-content {
  height: 100%;
  li {
    display: block;
  }

  .frame {
    margin-bottom: 7em;  
  }

  .framed {
    border-width: 0.125em;
  }
}


@media only screen and (max-width: 1025px) {
  .home-content {
    .title {
      h1 {
        .fontSerif8-0;
      }
    }
    .frame {
      margin-bottom: 5em;
    }
  }  
}

@media only screen and (min-width: 1599px) {
  .home-content {
    .title {
      margin-bottom: 10em;
    }

    .frame {
      margin-bottom: 17.5em;
    }
  }  
}
